<<<<<<< HEAD
.gap-5{
  justify-content: center;
}

.addAnimals{
  background:linear-gradient(#A17161,white);
 
}
.age{
  
  align-items: end;
=======
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
>>>>>>> contact
}