.Container-fluid {
    background-color: #A17161 !important;
    height: 5rem;
    margin-top: 43px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
    
}

.Container-fluid div{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.Container-fluid img{
    width: 3rem;
    height: 3rem;
    margin: 0;
}
.report-text{
    margin-top: 30px;
    margin-bottom: 30px;
}
.report-text-h3{
    background-color: white;
    margin-top: 5px;
}
.aboutMe{
    margin-top: 50px;
    
}
.aboutMe-h3{
    background-color: white;
    
}
.container-aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.report{
    margin-top: 25vh;
    margin-bottom: 26vh;

}

.alert-cont{
    margin-top: 20vh;
    margin-bottom: 22vh;

}

