.Container-fluid {
    background-color: #A17161 !important;
    height: 5rem;
    margin-top: 43px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Container-fluid img .logo {
    width: 3rem;
    height: 3rem;
    margin: auto;
}

@media  (max-width: 599px) {
    .logo{
        display: none;
    }
}